<div class="accordion" id="support">
  <!-- Card item -->
  <div class="card">
    <a class="card-header text-b14 text-black"x href="#" id="id1" data-toggle="collapse" data-target="#col1" aria-expanded="false" aria-controls="col1">
      1. Làm sao để thay đổi thông tin tài khoản? <span class="icons icons-arrows-down"></span>
    </a>
    <div id="col1" class="collapse" aria-labelledby="id1" data-parent="#support">
      <div class="card-body text-n14 text-black-lighter-1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacus lacus, auctor eget viverra at, blandit at turpis. Sed congue semper tellus, non vulputate ante pulvinar id. Vestibulum urna nisi, pellentesque vitae blandit at, convallis et sapien. Sed rhoncus ligula eget rhoncus pretium. Donec iaculis finibus posuere. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur neque lectus, fermentum a felis non, rutrum sodales tortor.
      </div>
    </div>
  </div>
  <!-- ... -->
</div>