<!-- <div class="address-infor active"> -->
<div class="address-infor">
  <div class="col-sm-10">
    <div class="address-item">
      <label class="address-title text-b14">Họ Tên*</label>
      <p class="text-n14">Võ Đăng Khoa</p>
    </div>
    <div class="address-item">
      <label class="address-title text-b14">Điện thoại*</label>
      <p class="text-n14">0968688668</p>
    </div>
    <div class="address-item">
      <label class="address-title text-b14">Địa chỉ cụ thể*</label>
      <p class="text-n14">Số 03 Nguyễn Trãi, phường 2, quận 3, TP.HCM</p>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="float-right">
      <button class="btn choice"><p class="text-n12">Mặc định</p></button>
      <button class="btn"><p class="text-n12">Sửa</p></button>
      <button class="btn"><p class="text-n12">Xóa</p></button>
    </div>
  </div>
</div>