<div class="dashboard list-group">
  <a href="./profile-personalization.html" class="list-group-item active">
    <span class="item-label">
      <i class="icons icons-user-o"></i>Thông tin cá nhân
    </span>
    <i class="icons icons-arrows-right"></i>
  </a>
  <a href="./profile-change-password.html" class="list-group-item">
    <span class="item-label">
      <i class="icons icons-key"></i>Đổi mật khẩu
    </span>
    <i class="icons icons-arrows-right"></i>
  </a>
  <a href="./profile-manage-address-list-emtpy.html" class="list-group-item">
    <span class="item-label">
      <i class="icons icons-address"></i>Quản lý địa chỉ
    </span>
    <i class="icons icons-arrows-right"></i>
  </a>
</div>