<div class="dashboard list-group">
  <a href="./profile-personalization.html" class="list-group-item active">
    <span class="item-label">
      <span class="icons icons-user-o"></span>Thông tin cá nhân
    </span>
    <span class="icons icons-arrows-right"></span>
  </a>
  <a href="./profile-change-password.html" class="list-group-item">
    <span class="item-label">
      <span class="icons icons-key-o"></span>Đổi mật khẩu
    </span>
    <span class="icons icons-arrows-right"></span>
  </a>
  <a href="./profile-manage-address-list-emtpy.html" class="list-group-item">
    <span class="item-label">
      <span class="icons icons-address-o"></span>Quản lý địa chỉ
    </span>
    <span class="icons icons-arrows-right"></span>
  </a>
</div>