<div class="header-logined">
  <div class="logo">
    <img src="../../assets/images/logo-felix-buy-clean.png" />
  </div>
  <div class="header-navigation">
    <div class="navigation">
      <div class="navigation-item active">
        <div class="icons icons-ordering"></div>
        <p class="text-b14 text-black-lighter-2">Yêu cầu báo giá</p>
        <div class="line"></div>
      </div>
      <div class="navigation-item">
        <div class="icons icons-caring"></div>
        <p class="text-b14 text-black-lighter-2">Quản lý đơn hàng</p>
        <div class="line"></div>
      </div>
      <div class="navigation-item">
        <div class="icons icons-support"></div>
        <p class="text-b14 text-black-lighter-2">Trợ giúp</p>
        <div class="line"></div>
      </div>
    </div>
  </div>
  <div class="header-profile">
    <div class="profile">
      <div class="profile-show dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="infor">
          <p class="text-n14 text-black-lighter-2">Xin chào,</p>
          <p class="text-b14 text-black">Võ Đăng Khoa</p>
        </div>
        <div class="avatar">
          <!-- <img src="../../assets/images/default-avatar.png" /> -->
          <span class="icons icons-profile icons-red"></span>
        </div>
        <span class="ic-dropdown icons icons-arrows-down icons-black-lighter-1"></span>
      </div>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="./profile-personalization.html">
          <span class="icons icons-profile"></span>
          <span class="text-n14 text-black">Thông tin cá nhân</span>
        </a>
        <a class="dropdown-item" href="#">
          <span class="icons icons-key"></span>
          <span class="text-n14 text-black">Đổi mật khẩu</span>
        </a>
        <a class="dropdown-item" href="#">
          <span class="icons icons-address"></span>
          <span class="text-n14 text-black">Quản lý địa chỉ</span>
        </a>
        <a class="dropdown-item text" href="#">
          <span class="icons icons-shutdown icons-red"></span>
          <span class="text-n14 text-red">Thoát</span>
        </a>
      </div>
    </div>
  </div>
</div>