<!-- No border input -->
<input type="text" class=" input-no-border form-control" placeholder="Sao chép link sản phẩm (bắt buộc)" >

<!-- Clean input -->
<div class="input-group mb-3">
  <span class="input-group-text icons icons-enter"></span>
  <input type="password" class="form-control" placeholder="Nhập lại mật khẩu" aria-label="Username" aria-describedby="basic-addon1">
</div>

<!-- Input view -->
<div class="input-view">
  <label for="ipass2" class="col-sm-2 col-form-label">
    <p class="float-right">Điện thoại<span class="dot">*</span></p>
  </label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="ipass2" placeholder="Vui lòng nhập chính xác">
  </div>
</div>