<div class="navigation">
  <!-- navigation item -->
  <a class="navigation-item active" href="./home-request-price.html">
    <span class="icons icons-ordering"></span>
    <p class="text-b14 text-black-lighter-2">Yêu cầu báo giá</p>
    <span class="line"></span>
  </a>
  <!-- navigation item -->
  <a class="navigation-item" href="./home-manage-ordering.html">
    <div class="icons icons-caring"></div>
    <p class="text-b14 text-black-lighter-2">Quản lý đơn hàng</p>
    <div class="line"></div>
  </a>
  <!-- navigation item -->
  <a class="navigation-item" href="./home-support.html">
    <div class="icons icons-support"></div>
    <p class="text-b14 text-black-lighter-2">Trợ giúp</p>
    <div class="line"></div>
  </a>
</div>