<div class="card">
  <div class="card-header">
    Đơn hàng của Quý khách
  </div>
  <div class="card-body">
    <div class="media">
      <img src="..." class="align-self-start mr-3" alt="...">
      <div class="media-body">
        <p class="mt-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ...</p>
        <div class="mt-3">
          <div class="text-list">
            <div class="text-list-item">
              <label class="tile-left text-red text-b18">500,000 đ</label>
            </div>
            <div class="text-list-item">
              <label class="tile-left text-black-lighter-4">Màu:</label>
              <p class="tile-right text-black-lighter-2">Đen</p>
            </div>
            <div class="text-list-item">
              <label class="tile-left text-black-lighter-4">Size:</label>
              <p class="tile-right text-black-lighter-2">40</p>
            </div>
            <div class="text-list-item">
              <label class="tile-left text-black-lighter-4">Mã sản phẩm:</label>
              <p class="tile-right text-black-lighter-2">SNK123</p>
            </div>
            <div class="text-list-item">
              <label class="tile-left text-black-lighter-4">Số lượng:</label>
              <p class="tile-right text-black-lighter-2">1</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>