<div class="profile">
  <div class="profile-show dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <div class="infor">
      <p class="text-n14 text-black-lighter-2">Xin chào,</p>
      <p class="text-b14 text-black">Võ Đăng Khoa</p>
    </div>
    <div class="avatar">
      <!-- <img src="../../assets/images/default-avatar.png" /> -->
      <i class="icons icons-user icons-red"></i>
    </div>
    <span class="ic-dropdown icons icons-arrows-down icons-black-lighter-1"></i>
  </div>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">
      <i class="icons icons-user"></i>
      <span class="text-n14 text-black">Thông tin cá nhân</span>
    </a>
    <a class="dropdown-item" href="#">
      <i class="icons icons-key"></i>
      <span class="text-n14 text-black">Đổi mật khẩu</span>
    </a>
    <a class="dropdown-item" href="#">
      <i class="icons icons-address"></i>
      <span class="text-n14 text-black">Quản lý địa chỉ</span>
    </a>
    <a class="dropdown-item text" href="#">
      <i class="icons icons-shutdown icons-red"></i>
      <span class="text-n14 text-red">Thoát</span>
    </a>
  </div>
</div>