<div class="table-view">
  <table class="table">
    <div class="table-header">
      <p class="text-b18">Yêu cầu báo giá</p>
    </div>
    <thead>
      <tr>
        <th scope="col">Link sản phẩm*</th>
        <th scope="col">Màu</th>
        <th scope="col">Size</th>
        <th scope="col">Số lượng</th>
        <th scope="col">Mã giảm giá</th>
        <th scope="col">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" class="input-no-border form-control" placeholder="Sao chép link sản phẩm (bắt buộc)" ></td>
        <td><input type="text" class="input-no-border form-control" placeholder="Chọn màu (nếu có)" ></td>
        <td><input type="text" class="input-no-border form-control" placeholder="Chọn size (nếu có)" ></td>
        <td>
          <div class="counter">
            <div class="counter-control ">-</div>
            <span class="number">1</span>
            <div class="counter-control counter-active">+</div>
          </div>
        </td>
        <td><input type="text" class="input-no-border form-control" placeholder="Điền mã giảm giá nếu có" ></td>
        <td><i class="icons icons-trash"></i></td>
      </tr>
    </tbody>
    <caption>
      <button class="btn btn-blue col-sm-2">+ Thêm sản phẩm</button>
    </caption>
  </table>
</div>