<div class="tabs-navs">
  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
      <div class="media">
        <img src="../../assets/images/bank.png" class="align-self-center mr-3" alt="bank">
        <div class="media-body">
          <p class="mt-0">Thanh toán bằng hình thức chuyển khoản cho FelixBuy</p>
        </div>
      </div>
    </a>
    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
      <div class="media">
        <img src="../../assets/images/master-card.png" class="align-self-center mr-3" alt="bank">
        <div class="media-body">
          <p class="mt-0">Thanh toán online bằng thẻ ghi nợ/Tìn dung quốc tế (Visa, Master Card, JCB)</p>
        </div>
      </div>
    </a>
    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
      <div class="media">
        <img src="../../assets/images/office-home.png" class="align-self-center mr-3" alt="bank">
        <div class="media-body">
          <p class="mt-0">Thanh toán trực tiếp tại Văn phòng FelixBuy</p>
        </div>
      </div>
    </a>
    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
      <div class="media">
        <img src="../../assets/images/swiss.png" class="align-self-center mr-3" alt="bank">
        <div class="media-body">
          <p class="mt-0">Thanh toán bằng hình thức Dư nợ</p>
        </div>
      </div>
    </a>
  </div>
  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>
    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
  </div>
</div>