$COLOR-RED-LIGHTER-2:  #FFF5F3;
$COLOR-RED-LIGHTER-1:  #FFE9E4;
$COLOR-RED:            #E24C35;
$COLOR-RED-DARKER-1:   #975F56;

$COLOR-BLUE:           #4D97FF;

$COLOR-GREEN-LIGHTER-1:#C2FFE9;
$COLOR-GREEN:          #35E2A4;


$COLOR-BLACK-LIGHTER-6:#F9F9FB;
$COLOR-BLACK-LIGHTER-5:#F5F6F9;
$COLOR-BLACK-LIGHTER-4:#F3F3F3;
$COLOR-BLACK-LIGHTER-3:#DDDDED;
$COLOR-BLACK-LIGHTER-2:#CACACA;
$COLOR-BLACK-LIGHTER-1:#5D5D5D;
$COLOR-BLACK:          #383838;
$COLOR-BLACK-DARKER-1: #222222;
$COLOR-BLACK-DARKER-2: #000000;