.icons {
  height: 24px;
  width: 24px;
  background-size: contain;
  background-size: 24px 24px;
  background-repeat: no-repeat;
}
/* Icon color */
.icons.icons.icons-red-lighter-2 {
  filter: invert(95%) sepia(2%) saturate(974%) hue-rotate(317deg) brightness(102%) contrast(101%);
}
.icons.icons-red-lighter-1 {
  filter: invert(80%) sepia(4%) saturate(1257%) hue-rotate(318deg) brightness(114%) contrast(107%);
}
.icons.icons-red {
  filter: invert(37%) sepia(39%) saturate(3331%) hue-rotate(343deg) brightness(94%) contrast(88%);
}
.icons.icons-red-darker-1 {
  filter: invert(43%) sepia(7%) saturate(3272%) hue-rotate(320deg) brightness(88%) contrast(73%);
}
.icons.icons-blue {
  filter: invert(62%) sepia(48%) saturate(5014%) hue-rotate(195deg) brightness(100%) contrast(102%);
}
.icons.icons-green-lighter-1 {
  filter: invert(97%) sepia(21%) saturate(819%) hue-rotate(71deg) brightness(105%) contrast(101%);
}
.icons.icons-green {
  filter: invert(74%) sepia(34%) saturate(795%) hue-rotate(103deg) brightness(94%) contrast(95%);
}
.icons.icons-black-lighter-6 {
  filter: invert(97%) sepia(0%) saturate(1763%) hue-rotate(271deg) brightness(103%) contrast(96%);
}
.icons.icons-black-lighter-5 {
  filter: invert(84%) sepia(2%) saturate(238%) hue-rotate(186deg) brightness(117%) contrast(96%);
}
.icons.icons-black-lighter-4 {
  filter: invert(100%) sepia(11%) saturate(13%) hue-rotate(289deg) brightness(115%) contrast(91%);
}
.icons.icons-black-lighter-3 {
  filter: invert(91%) sepia(4%) saturate(666%) hue-rotate(201deg) brightness(102%) contrast(86%);
}
.icons.icons-black-lighter-2 {
  filter: invert(89%) sepia(0%) saturate(416%) hue-rotate(153deg) brightness(93%) contrast(88%);
}
.icons.icons-black-lighter-1 {
  filter: invert(34%) sepia(3%) saturate(0%) hue-rotate(145deg) brightness(100%) contrast(84%);
}
.icons.icons-black {
  filter: invert(19%) sepia(37%) saturate(20%) hue-rotate(10deg) brightness(99%) contrast(93%);
}
.icons.icons-black-darker-1 {
  filter: invert(11%) sepia(20%) saturate(4%) hue-rotate(24deg) brightness(95%) contrast(94%);
}
.icons.icons-black-darker-2 {
  filter: invert(0%) sepia(2%) saturate(395%) hue-rotate(326deg) brightness(87%) contrast(100%);
}
/* Icon typography */
.icons.icons-caring {
  background-image: url('../images/icons-caring.svg');
}
.icons.icons-email {
  background-image: url('../images/icons-email.svg');
}
.icons.icons-enter {
  background-image: url('../images/icons-enter.svg');
}
.icons.icons-lock {
  background-image: url('../images/icons-lock.svg');
}
.icons.icons-mobile {
  background-image: url('../images/icons-mobile.svg');
}
.icons.icons-ordering {
  background-image: url('../images/icons-ordering.svg');
}
.icons.icons-support {
  background-image: url('../images/icons-support.svg');
}
.icons.icons-user {
  background-image: url('../images/icons-user.svg');
}

